<!--
 * @Author: your name
 * @Date: 2020-12-04 18:23:46
 * @LastEditTime: 2020-12-04 18:36:17
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /TUI/src/components/layout/test.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            border: 1px solid #000;
            display: grid;
            grid-template: 
                            "lside main rside" .2fr .6fr .2fr;
        }

        .lside {
            grid-area: "lsid";
        }
    </style>
</head>
<body>
    
    <div class="contianer">
        <div class="lside">
            side
        </div>
            <div class="container">
                <div class="header">Header</div>
                <div class="main">Main</div>
                <div class="footer">Footer</div>
            </div>
    </div>
</body>
</html>