.slider {
    display: inline-block;
}

.slider-trumb {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid $blue;
    box-sizing: border-box;
    //transform: translate(500px, 300px);
}

.slider-left {
    display: inline-block;
    background-color: $blue;
    border: 1px solid #000;
    height: 4px;
    transform: translateY(-2.5px);
}

.slider-right {
    display: inline-block;
    background-color: $gray-300;
    height: 4px;
    transform: translateY(-2.5px);
}

.slider-display {
    padding: 10px 10px;
    font-size: $font-size-sm;
    display: inline-block;
}